/* Colores de la paleta */
:root {
    --color-principal: #1e3a8a; 
    --color-secundario: #3b82f6;
    --color-acento: #ffffff;     
    --color-texto: #111827;     
    --color-hover: #2563eb;     
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('../img/fondo.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-color: #20225B; 
    background-position: center center; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    color: var(--color-texto); 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Sección de gestión de usuarios */
.section-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    color: #111827;
}

.table th {
    background-color: var(--color-principal);
    color: var(--color-acento);
}

.table td {
    border: 1px solid #ddd;
    color: var(--color-texto);
}

.table td .btn {
    display: block; /* Para que cada botón ocupe una fila */
    margin-bottom: 5px; /* Espaciado entre los botones */
    width: 100%; /* Asegura que los botones ocupen todo el ancho de la celda */
    text-align: center;
    padding: 8px 0;
}

/* Botones */
.btn-primary {
    background-color: var(--color-secundario) !important;
    border-color: var(--color-secundario) !important;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--color-hover) !important;
    border-color: var(--color-hover) !important;
}

.form-section label, .form-section input, .form-section select, .form-control {
    color: var(--color-texto) !important;
    background-color: #fff !important;
}

/* Formulario de búsqueda */
.filtro-busqueda select, .filtro-busqueda input {
    margin-right: 10px;
    padding: 5px;
}

.btn-danger {
    background-color: #d9534f;
    color: white;
    border: none;
    font-size: 14px;
    width: auto;
}

.btn:hover {
    opacity: 0.9;
}

.btn-warning {
    background-color: #f0ad4e;
    color: white;
    border: none;
    font-size: 14px;
    width: auto;
}

.btn-warning:hover {
    background-color: #ec971f;
}

.acciones {
    display: flex;
    flex-direction: row;
    gap: 5px; 
    margin-bottom: 5px; 
}

.rol-guardar {
    display: flex;
    flex-direction: row;
    gap: 25px; 
}