/* Colores de la paleta */
:root {
    --color-principal: #1e3a8a; 
    --color-secundario: #3b82f6;
    --color-acento: #ffffff;     
    --color-fondo: #f1f5f9;     
    --color-texto: #111827;     
    --color-hover: #2563eb;     
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('../img/fondo.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-color: #20225B; 
    background-position: center center; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    color: var(--color-texto); 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-acento); 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}


.form-section label, .form-section input, .form-section select, .form-control {
    color: var(--color-texto) !important; 
    background-color: #fff !important; 
}

.form-control::placeholder {
    color: #6c757d; 
}

/* Navbar styles */
nav.navbar {
    background-color: #20225B !important; 
    padding: 15px 20px !important;
    font-size: 18px !important;
    border-bottom: 2px solid #111827;
}

nav.navbar .navbar-brand {
    font-size: 24px !important;
    color: var(--color-acento) !important;
}

nav.navbar .nav-link {
    color: var(--color-acento) !important;
    padding: 10px 15px !important;
}

nav.navbar .nav-link:hover {
    background-color: #2563eb !important;
    color: var(--color-acento) !important;
    border-radius: 5px !important;
}

nav.navbar .nav-link.active {
    background-color: var(--color-secundario) !important;
    color: var(--color-acento) !important;
    border-radius: 5px !important;
}

.logo-navbar {
    height: 65px; 
    width: auto;
    margin-left: auto; 
    display: block;
}

/* Sección de formularios */
.section-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    height: 100%;
}

/* Botones */
.btn-primary {
    background-color: var(--color-secundario) !important;
    border-color: var(--color-secundario) !important;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--color-hover) !important;
    border-color: var(--color-hover) !important;
}

/* Estilos de tabla */
.table th, .table td {
    padding: 10px;
    text-align: left;
    color: var(--color-texto); 
}

.table th {
    background-color: var(--color-principal);
    color: var(--color-acento);
}